<h1><%= @user.name %></h1>
<h2><%= @user.email %></h2>

<% @displayed_user = params[:id] %>

<% displayed_user_ratings = Rating.where(user_id: @displayed_user) %>

<div class="row">
<% displayed_user_ratings.each do |rating| %>

<div class="col-md-2">
	<img style="width: 100px;" class="img-responsive" src=" <%= Concept.find(rating.concept_id).image %>"/>
</div>

<% end %>
</div>