<h1><%= @user.name %></h1>
<h2><%= @user.email %></h2>

<% @displayed_user = params[:id] %>

<% displayed_user_ratings = Rating.where(user_id: @displayed_user) %>
<p> User Likes </p>
<div class="row">
<% displayed_user_ratings.each do |rating| %>
	<% if rating.opinion == 2 %>
		<div class="col-md-2">
			<img style="width: 100px; height: 100px;" class="img-responsive" src=" <%= Concept.find(rating.concept_id).image %>"/>
		</div>
	<% else %>
	<% end %> 

<% end %>
</div>