

<% @page_title = "Testing_Menu" %>


<div class="row">
<div class="col-md-12">
<div class="alert alert-warning" role="alert">
	<h3>Latest updates/fixes</h3>

	<ul>	
	<h4>11.4.2015<h4>
	<li>Fixes to commenting</li>
	<li>Allow images for concepts</li>
	<li>One question at a time</li>
	</ul>


	<ul>	
	<h4>10.5.2015<h4>
	<li>Added ability to comment on guess results (comment on other peoples' ratings) </li>
	<li>Fixed bug to make comments game-specific</li>
	</ul>

	<ul>	
	<h4>10.4.2015<h4>
	<li>Fixed bug where users see guess results from other groups </li>
	<li>Progress bar works for groups 
	</ul>


	<ul>	
	<h4>10.3.2015<h4>
	<li>Allow users to make their own groups </li>
	<li>Reversed guess results so you don't have to scroll to the bottom to see if you got the correct answer. 
	<li>	Added logo</li>
	<li>	Added ability to justify ratings</li>
	<li>	Rating justifications appear after making guess</li></ul>

</div>

</div>
</div>
