

<% @page_title = "Testing_Menu" %>


<div class="row">
<div class="col-md-12">
<div class="alert alert-warning" role="alert">
	<h3>Latest updates/fixes</h3>
	<ul>	
	<h4>10.3.2015<h4>
	<li>	Added logo</li>
	<li>	Added ability to justify ratings</li>
	<li>	Rating justifications appear after making guess</li></ul>

</div>

</div>
</div>
