<h1> All Games </h1>

<% @games.each do |game| %>

	Title: <%= game.title %> <br>
<br>

	Players:
	<% game.assignments.each do |assignment| %> 
	<%= User.find(assignment.user_id).name %>
	<% end %>
	<br><br>

<% end %>
