<h3> Enter Your Game </h3>

<% if @mygames %>
	<% @mygames.each do |game| %>

	<h2><span class="glyphicon glyphicon-menu-right"><%= link_to game.title, game %></h2>
 <br>


	<h3>Other players who have already joined:</h3>
	<% game.assignments.each do |assignment| %> 
	<h4><%= User.find(assignment.user_id).name %></h4>
	<% end %>
	<br><br>
	<% end %>

<% else %>
	You don't have any games yet! :(
<% end %>