<h3> Enter a group </h3>


<div class="row">



	<% if @mygames %>
		<% @mygames.each do |game| %>

<div class="col-md-4 alert alert-info">

		<h3>
		<span class="glyphicon glyphicon-menu-right">
			
		</span>
		<%= link_to game.title, game %>
		</h3>
	
			<h4>Other players who have already joined this game:</h4>
			
			<% game.assignments.each do |assignment| %> 
			<h5><%= User.find(assignment.user_id).name %></h5>
			

			<% end %>

</div>

		<% end %>

	<% else %>
		<h4>You don't have any games yet! :(</h4>
	<% end %>


</div>

