/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */






 	.user-image-q{
 	max-width: 100px;
 	border-radius: 100%;
 	float: left;
 	}
 	.user-image{
 	max-width: 25px;
 	border-radius: 100%;
 	}

 	.menu{
 	margin: 5px;
 	}
	img.logo{
		margin: 0 auto;
		max-width: 100px;
	}

 	.like{

		display: block;
		position: relative;
	}
	.like-explain{

		display: block;
		position: absolute;
		top: 0px;
		left: 100px;
		display: none;
	}

 	.dislike{

		display: block;
		position: relative;
	}
	.dislike-explain{

		display: block;
		position: absolute;
		top: 0px;
		left: 100px;
		display: none;
	}

	.outcome-result{
	list-style: none;
	width: 100%;
	}

	.alert-outcome{
	min-width: 300px;
	}

	.group{
		height: 350px;
		overflow: hidden;
		
	}

	.group-container{
		padding: 10px;
	}
 
 	[class*=col-] {
  height: 100%;
	}

	.group-box{
	height: 450px;
	padding: 5px;
	background-color: transparent;
	}






	.rating-item{
	display: none;
	}

	.ratings-area .rating-item:first-child{
	display: block;
	}

@import "bootstrap-sprockets";
@import "bootstrap";

*{ 
	font-family: Helvetica;
}


.well{
	padding: 5px;
}